{% set data = footer %}

{# Footer Component #}
<footer class="footer background--black grid-container" role="contentinfo">
	<div class="container main-width">
		<div class="col">
			<div class="logoSection">
				<a href="{{ base_path }}/" aria-label="Photosnap home">
					{% include 'components/logo/logo.twig' %}
				</a>
			</div>

			<nav class="socialLinks" aria-label="Social media links">
				<h2 class="visually-hidden">{{ data.social.title }}</h2>
				<ul role="list">
					{% for link in data.social.links %}
						<li>
							<a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ link.label }} (opens in new window)">
								<i class="fa {{ link.icon }}" aria-hidden="true"></i>
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>

			<nav class="pageLinks" aria-label="Site pages">
				<h2 class="visually-hidden">{{ data.navigation.title }}</h2>
				<ul role="list">
					{% for link in data.navigation.links %}
						<li>
							<a href="{{ base_path }}{{ is_github_pages ? link.url ~ '.html' : link.url }}">{{ link.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		<div class="col">
			{% include 'components/button/button.twig' with {
        text: 'Get an invite',
        variant: 'secondary',
        ariaLabel: 'Get an invite to join Photosnap',
        class: 'inviteButton'
      } %}

			<div class="copyright">
				<p>Copyright
					{{ "now"|date("Y") }}. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>
