{# 
  FeatureTable Component
  @param {array} features - Array of feature objects with title property
#}

<div class="feature-table" role="region" aria-label="Feature comparison">
	<table>
		<caption class="visually-hidden">Compare features across different plans</caption>
		<thead>
			<tr>
				<th scope="col">The Features</th>
				<th scope="col">Basic</th>
				<th scope="col">Pro</th>
				<th scope="col">Business</th>
			</tr>
		</thead>
		<tbody>
			{% for feature in features %}
				<tr>
					<th scope="row">{{ feature.title }}</th>
					{% if feature.feature_set is defined %}
						{% for plan in ['basic', 'pro', 'business'] %}
							<td>
								{% if plan in feature.feature_set %}
									<img src="/images/pricing/desktop/check.svg" alt="{{ feature.title }} is included in {{ plan }} plan" width="16" height="12"/>
								{% else %}
									<span class="visually-hidden">Not included in {{ plan }} plan</span>
								{% endif %}
							</td>
						{% endfor %}
					{% else %}
						<td>
              {% if feature.basic %}
                <img src="/images/pricing/desktop/check.svg" alt="{{ feature.title }} is included in basic plan" width="16" height="12"/>
              {% else %}
                <span class="visually-hidden">Not included in basic plan</span>
              {% endif %}
            </td>
						<td>
              {% if feature.pro %}
                <img src="/images/pricing/desktop/check.svg" alt="{{ feature.title }} is included in pro plan" width="16" height="12"/>
              {% else %}
                <span class="visually-hidden">Not included in pro plan</span>
              {% endif %}
            </td>
						<td>
              {% if feature.business %}
                <img src="/images/pricing/desktop/check.svg" alt="{{ feature.title }} is included in business plan" width="16" height="12"/>
              {% else %}
                <span class="visually-hidden">Not included in business plan</span>
              {% endif %}
            </td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
