{# 
  FeatureTable Component
  @param {array} features - Array of feature objects with title property
  @param {array} plans - Array of plan objects with name and features array
#}

<div class="feature-table" role="region" aria-label="Feature comparison">
  <table>
    <caption class="visually-hidden">Compare features across different plans</caption>
    <thead>
      <tr>
        <th scope="col">THE FEATURES</th>
        {% for plan in plans %}
          <th scope="col">{{ plan.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for feature in features %}
        <tr>
          <th scope="row">{{ feature.title }}</th>
          {% for plan in plans %}
            <td>
              <div>{{ plan.name }}</div>
              {% if plan.features[loop.parent.loop.index0] %}
                <img src="/pricing/desktop/check.svg"
                     alt="{{ feature.title }} is included in {{ plan.name }} plan"
                     width="16"
                     height="12" />
              {% else %}
                <span class="visually-hidden">Not included in {{ plan.name }} plan</span>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>